@media (max-width: 768px) {
  .contactUsSection{
    padding: 1.5rem;
  }
  .about-us-div1-content h1{
    font-size: 18px;
  }
  .about-us-div1-content{
    padding: 1.25rem 0 0;
  }
  .popup-content h1 {
    font-size: 1.5rem;
  }
  .popup-body h2 {
    font-size: 1.2rem;
  }
  .popup-body p, .popup-body li {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .logo a{
    margin-left: 1rem;
    font-size: 35px;
  }
  .enquiry{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .enquiry button{
    width: 100%;
    border-radius: 0;
  }
  .menuBar{
    margin: 1rem 1rem 1rem 0;
  }
  .header{
    background-color: #fff;
  }
  .headerNav ul{
    width: 100%;
  }
  .headerNav ul img{
    transform: translateX(calc(50%));
  }
  .overviewHeading, .amenitiesHeading,.highlightHeading, .floorPlanHeading, .galleryHeading, .locatingHeading, .aboutHeading{
    font-size: 23px;
  }
  .overviewSection, .amenitiesSection, .locationMap{
    padding: 1rem;
  }
  .overviewPara, .overviewImg, .highlightsImg, .highlightsPara{
    width: 300px;
    height: 100%;
  }
  .amenitiesImg, .galleryImg{
    width: 300px;
  }
  .a-g-bigImg{
    height: auto;
  }
  .floorPlans{
    width: 300px;
    height: 400px;
  }
  .locationPara, .aboutHeadPara, .galleryPara{
    width: 90%;
  }
  .aboutPara{
    width: 100%;
  }
  .contactUsSection > p, .whatWeDoSection > p{
    width: 100%;
  }
}


@media (max-width: 450px) {

  .slider {
    margin: 2rem 0 0;
  }

  .slider div {
    width: 100%;
    margin-right: 10px;
  }

  .aboutSection,
  .wwdSection,
  .projectsSection {
    padding: 1rem;
  }

  .aboutImg {
    height: 400px;
  }

  .locationImg {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
  }

  .projectCards {
    height: 475px;
  }

  .locationBtnDiv {
    margin-top: 3rem;
  }

  .wwdImg {
    height: 500px !important;
  }
  .footerPolicies{
    display: none;
  }

}