h1 {
  font-size: 2rem;
  font-family: var(--Playfair-font-);
  text-align: center;
  margin: 2rem 0;
  font-weight: 500;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  text-align: center;
  font-family: var(--Libre-font-);
  /* margin: 1rem; */
}

/* ===About=== */
.slider {
  margin: 2rem 2rem 0 2rem;
}

.slider div {
  width: 95%;
  margin: auto;
  margin-right: 10px;
}

.slick-next,
.slick-prev {
  display: none !important;
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 10px !important;
}

.homeMain {
  width: 100%;
  height: 100vh;
}

/* ==== About ==== */
.aboutSection,
.wwdSection,
.projectsSection {
  padding: 1rem 2rem;
}

.aboutDiv,
.locationDiv,
.wwdDiv,
.projectDiv,
.footerSocial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-top: 1rem;
}

.aboutImg {
  width: 490px;
  height: 500px;
}

.aboutInfo {
  width: 490px;
}

.aboutInfo h1 {
  text-align: start;
}

.aboutInfo p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.6;
  text-align: start;
  padding: 1.5rem 0;
}

.aboutBtn {
  padding: 0.5rem 1rem;
  font-size: 20px;
  background-color: var(--secondary-color-);
  font-family: var(--Playfair-font-);
}

.aboutBtn:hover {
  transform: translateY(-8px);
}

/* ===Location=== */
.locationImg {
  width: 380px;
  height: 380px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: pointer;
  /* Optional, for a smoother look */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.locationImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  /* Initially transparent */
  transition: background 0.3s ease-in-out;
}

.locationImg button {
  padding: 6px 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--Libre-font-);
  background-color: var(--secondary-color-);
}

.locationImg .locationContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.locationImg:hover::after {
  background: rgba(0, 0, 0, 0.7);
  /* Dark overlay on hover */
}

.locationImg:hover .locationContent {
  opacity: 1;
  /* Show text on hover */
}

/* .locationImg:hover {
  transform: translateY(-8px);
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
} */

.locationImg h3,
.wwdImg h3 {
  font-size: 18px;
  font-family: var(--Libre-font-);
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 0;
  letter-spacing: 1px;
}

.locationContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationContent li {
  font-family: var(--Libre-font-);
  padding: 0.5rem;
  font-size: 16px;
  text-align: center;
}

.locationBtnDiv {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.locationBtn {
  padding: 6px 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--Libre-font-);
  background-color: var(--secondary-color-);
  margin-top: 1rem;
}

/* ===wwd=== */
.wwdImg {
  width: 380px;
  height: 600px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  /* Optional, for a smoother look */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  margin-bottom: 1rem;
}

/* .wwdImg:hover {
  transform: translateY(-8px);
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
} */

.wwdSection>p {
  font-size: 18px;
  text-align: center;
  display: flex;
  width: 80%;
  margin: 1rem auto;
}

.wwdDiv {
  padding: 1.5rem 0;
  position: relative;
}

.wwdImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  /* Initially transparent */
  transition: background 0.3s ease-in-out;
}
.wwdcontent p{
  padding: 0 1.5rem;
  font-size: 16px;
}
.wwdImg .wwdcontent {
  position: absolute;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  height: 100%;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.wwdcontent button {
  padding: 6px 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--Libre-font-);
  background-color: var(--secondary-color-);
  white-space: nowrap;
  margin-top: 1rem;
}

.wwdImg:hover::after {
  background: rgba(0, 0, 0, 0.7);
  /* Dark overlay on hover */
}

.wwdImg:hover .wwdcontent {
  opacity: 1;
  /* Show text on hover */
}

/* ===Project=== */
.projectCards {
  position: relative;
  height: 450px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(100, 92, 255, 0.3);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.projectCards:hover {
  box-shadow: 0 8px 20px rgba(100, 92, 255, 0.5);
}

.pCardImg {
  margin: 0.5rem;
  width: calc(100% - 1rem);
  height: 200px;
}

.projectCards h2 {
  padding: 1.5rem 1rem;
  font-family: var(--Playfair-font-);
}

.projectCards p {
  padding: 0 1rem;
  text-align: start;
  font-size: 14px;
}

.pCardBtn {
  position: absolute;
  bottom: 0.7rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-family: var(--Playfair-font-);
  white-space: nowrap;
  font-weight: 500;
  font-size: 19px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color-);
}

/* === Contact === */
.contactSection {
  position: relative;
  margin: 1.5rem 0;
  width: 100%;
  height: 550px;
  z-index: 3;
  overflow: hidden;
}

.contactSection img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contactSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.contactForm {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.contactForm h1 {
  margin-top: 4rem;
  font-size: 29px;
  color: var(--primary-color-);
}

.contactForm input,
.contactForm textarea {
  padding: 6px 9px;
  font-size: 19px;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-color-);
  font-family: var(--Playfair-font-);
  width: 60%;
  color: var(--primary-color-);
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: var(--primary-color-);
}

/* @media (max-width: 768px) {
  .navLinks {
    width: 100%;
  }

  .menu h1 {
    display: none;
  }

  .menu img {
    margin: 1rem 0;
    width: 2.5rem;
  }

  header h2 {
    width: 160px;
    top: 1rem;
    right: 5.5rem;
  }

  .links li a {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .slider {
    margin: 2rem 0 0 0;
  }

  .slider div {
    width: 100%;
    margin-right: 10px;
  }

  .aboutSection,
  .wwdSection,
  .projectsSection {
    padding: 1rem 1rem;
  }

  .aboutImg {
    height: 400px;
  }

  .locationImg {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
  }

  .projectCards {
    height: 475px;
  }

  .popupForm h2 {
    color: #000;
    font-size: 20px;
  }

  .closeMenu {
    left: 2rem;
  }

  .menuHead {
    display: none;
  }

  .locationBtnDiv {
    margin-top: 3rem;
  }

  .submitForm {
    width: 50% !important;
  }

  .wwdImg {
    height: 500px !important;
  }

  .footerContact {
    font-size: 12px;
  }

  .footerDiv {
    padding-top: 3rem !important;
  }
} */